@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url(fonts/Inconsolata-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-Regular.ttf);
    font-display: swap;
}