* {
    box-sizing: border-box;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: #111111;
    color: white;
}

button.button {
    background: black;
    color: white;
    border: 1px solid #777777;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 5px black);

    transition-property: border, background-color;
    transition-duration: 0.25s;
    padding: 0.5rem;
}

.subtitle {
    font-style: italic;
    opacity: 0.6;
}

button.button:disabled {
    border: 1px solid #333333;
}

button.button:hover:not(:disabled) {
    border: 1px solid #ffffff;
}

button.button:focus:not(:disabled)  {
    border: 1px solid #999999;
    outline: none;
}

button.button:active:not(:disabled) {
    background: white;
}

button.button.toggle[data-checked] {
    background: #7700cc;
}

input[type="text"] {
    display: inline-block;
    color: inherit;
    background: none;
    font-size: inherit;
    width: 100%;
    
    border: none;
    border-bottom: 2px solid #777777;
    padding: 0.5rem;

    transition-duration: 0.35s;
    transition-property: border, color;
    will-change: border, color;
}

input[type="text"][data-error] {
    border-bottom: 2px solid #ff0000;
    color: red;
}

input[type="text"]:focus {
    border-bottom: 2px solid #ffffff;
    outline: none;
}





div.config, div.files, div.edit, div.logs {
    width: 90vw;
    min-width: 400px;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333333;
    border-radius: 1rem;
    background: #171717;

    display: none;
}

body[data-mode="config"] div.config {
    display: block;
}

body[data-mode="edit"] div.edit {
    display: block;
}

body[data-mode="files"] div.files {
    display: block;
}

body[data-mode="logs"] div.logs {
    display: block;
}

div.server-line.cont {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(135deg, black, rgb(55, 6, 35));
    border: 1px solid #333333;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center; 
    align-items: center;
    gap: 1rem;
}

div.server-line.cont:not([data-id]):not(.editor) {
    background: #333333;
}

div.server-line.cont[data-running] {
    background-image: linear-gradient(135deg, #1e0033, #db188a);
}

div.server-line.cont a.server-line.alias {
    pointer-events: none;
    color: white;
    text-decoration: none;
}

div.server-line.cont[data-running] a.server-line.alias {
    pointer-events: all;
    text-decoration: underline;
}

div.edit[data-running] div.editor.server-line.cont {
    background-image: linear-gradient(135deg, #1e0033, #db188a);
}

div.edit[data-running] button.button.editor.nur {
    display: none;
}

div.edit:not([data-running]) button.button.editor.run {
    display: none;
}

a.editor.telegraph.alias {
    pointer-events: none;
    color: white;
    text-decoration: none;
}

div.edit[data-running] a.editor.telegraph.alias {
    pointer-events: all;
    text-decoration: underline;
}


div.editor.staging {
    display: none;
    font-style: italic;
    color: white;
    background-color: #7700cc;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

div.editor.staging[data-active] {
    display: block;
}



div.file-line.cont {
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    align-items: center;
    gap: 0.75em;
    padding: 1em;
    border: 1px solid #333333;
    border-radius: 1em;
    background: #222222;
    margin-bottom: 0.5em;
}

div.file-line.cont[data-staged] {
    background-image: linear-gradient(90deg, #222222, #aa0000);
}

img.file-line.img {
    height: 2em;
    object-fit: contain;
}

div.file-line.delete {
    height: 2em;
    width: 2em;
    background: url(svg/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

div.uploads-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

div.logs-canvas {
    background:black;
    min-height: 50vh;
    max-height: 80vh;
    background: black;
    padding: 1rem;
    border-radius: 4px;
    font-family: 'Inconsolata', monospace;
}

div.logs-line.rooter {
    font-family: 'Inconsolata', monospace;
    color: white;
}

div.logs-line.rooter.info::before {
    content: "LOG";
    margin-right: 2.5ex;
    color: #db188a;
}

div.logs-line.rooter.error {
    color: #aa4444;
}

div.logs-line.rooter.error::before {
    content: "ERR";
    padding: 2.5en;
    color: white;
}